# Overview

 - In this context, we will be taking news items from the files in .txt files in this folder
  and generating a script to use as a guideline for reading off as a podcast.
 - cm is an abbreviation for Cedar Mountain
 - The specific files are:
  - cm_community_news.txt for Cedar Mountain Community News
  - cm_canteen_events.txt for normally scheduled events for Cedar Mountain Canteen News
  - cm_canteen_news will have additional events and possibly additional information about
    normally scheduled events
  - Cedar Mountain Canteen events and news should be consolidated and events married. For instance Monday night Owen Grooms will be in events with more details in news    
  - other_events.txt will have any additional events from around CM (Cedar Mountain)


# Specific Formatting
 - The CM Community News is put together by Linda Packer Young and she should be credited
 - There will be a section for Cedar Mountain Community News first, then a
   section for Cedar Mountain Canteen News, and possibly other events after that.
 - Items will be in various formats so will need to be analyzed for content.
 - If there is contact information after an event, credit them for that news item.
 - "Around the house" by Linda Packer Young should always be added without editing
 - We should try to include all relevant information without repetition, but
  consolidating as makes sense.
 - Include days of the weeks and dates Month,Day when providing a date, ex. Monday June 14th.
 - Text should be limited to 100 character line lengths to make it easier to read
 - There should be a header with the current date similar to this
   # Cedar Mountain Community Podcast Script for 07-30-2025
 - Just after the header inclue a line with an estimate for how long it will take to read out loud
 - After each item header add a blank line
 - After each item, add 'Tod needs to speak slower' 
 - Longer items should be summarized without losing any key information, generally 2 paragraphs
   at most

# Tone
 - The tone should be conversational and low key.



